.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes full height */
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-main {
  flex: 1; /* Allows the main area to grow */
  padding: 20px; /* Space around the dashboard */
}

.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}
